[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

# Auto-deploy settings
[deploy.triggers]
# Automatically deploy on git push
gitPush = true
